/*=============================
*          Attributes
=============================*/

:root {
    /* colours */    
    --dominant: rgb(35, 182, 101); 
    --dominant_shadow: rgb(6, 56, 44);
    --dominant_light: rgb(107, 184, 148);   

    --accent_one: rgb(38, 86, 148);
    --accent_one_text: rgb(38, 86, 148);
    --accent_two: rgb(170, 95, 34); 
    --accent_two_text: rgb(170, 95, 34);  
    
    --link: rgb(10, 200, 50);
    
    /* fonts */
    --main__font: Tahoma, sans-serif;
    
    /* font-sizes */
    --font__size__main: 1rem;
    --font__size__sub: 1.75rem;
    --font__size__heading: 2.5rem

}

@media (min-width:800px){
    :root {

        --font__size__main: 1.25rem;
        --font__size__sub: 2.25rem;
        --font__size__heading: 3.25rem
    }
}

/*=============================
*             Body
=============================*/

*,
*::before,
*::after {
    box-sizing: border-box;
    font-size: var(--font__size__main);
}

/*----- Headings   -----*/

h1 {
    font-size: var(--font__size__heading);
}
h2 {
    font-size: var(--font__size__sub);
}

/*  ----- body  -----*/

body {
    display: flex;
    flex-direction: column;
    margin: 0;

    text-align:center;

    font-family: var(--main__font);
    min-height: 100vh;
}

@media (min-width:800px){
    body {
        display: flex;
        flex-direction: row;
    }
}

/*============================== 
*           Nav
==============================*/

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 vw 0 1vw;
    background-color: var(--dominant);
    order:2;
}

@media (min-width:800px){
    .nav {
        display: flex;
        flex-direction: column;
        width: 15vw;
        order:1;
    }
}

/*  -----   nav button  -----*/

.nav__button {
    background-color: var(--dominant);
    border: none;
    color: whitesmoke;
}

.nav__button:hover {
    background-color: var(--dominant_shadow);
}

/*============================== 
*           Content
==============================*/

#content {
    width: 100vw;
    order: 1;
}

/* =========== Header =========== */

.header {
    background-color: black;
    color: whitesmoke;
    position: sticky;
    min-height: 10vh;
}

/*============================== 
*           Tabs__Content
==============================*/

.tabs__content {
    padding: 1rem;
    background-color: rgb(230, 230, 230);
}

.tab {
    background-color: rgb(250, 250, 250);
    border-radius: 6px;
}

/* =========== Landing =========== */

/* =========== About =========== */

/* =========== Contact =========== */