

/*
    ==== Header ====
*/

.header {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header div {
    background-color: cornflowerblue;
    width: 990px;
    height: 100px;

}
#image{
    display: inline-block;
    position: relative;
    padding-block: 10px 5px 1px 1px;
}

/*
    ==== Navigation ====
*/

/*
    ==== Body ====
*/

.landing {
    text-align: center;
}

.postsTable {
    border-collapse: collapse;
    
    margin-left: 15%;
    margin-right: 15%;

    
    border: 1px solid black;
    


}
th{
    background-color: rgb(209, 174, 162);
}
th , td{
    text-align: center;
    padding: 15px;
    border-left:1px solid black;


}

